# Secrets
.env

# Google credentials
service_account.json

# Python
__pycache__/
*.pyc
.venv/
venv/

app/
twilio_test.py
twilio_test2.py

# Docker
Dockerfile
docker-compose.yml
docker-compose.yaml
.dockerignore

# Docker folders (optional)
docker/